@use "./bootstrap.scss" as * with (
	$primary: #ffaf00,
	$line-height-lg: 1.7,
	$line-height-sm: 1.7,
	$dark: #0b0b13,
	$light: #f7f7ff,
	// Buttons
	$btn-border-radius: 0px,
	$btn-padding-x: 25px,
	$btn-padding-y: 0px,
	$btn-line-height: 42px,
	$btn-font-weight: 400,
	$btn-border-width: 0px,
	// Forms
	$input-border-radius: 0px,
	// Pagination
	$pagination-padding-x: 0,
	$pagination-padding-y: 0,
	$pagination-border-width: 0
);

@use "swiper/scss";
@use "@fortawesome/fontawesome-free/scss/fontawesome.scss" as *;
@use "@fortawesome/fontawesome-free/scss/brands.scss";
@use "@fortawesome/fontawesome-free/scss/solid.scss";
@use "highlight.js/scss/monokai-sublime.scss";

@use "sass:string";
@use "sass:color";
@use "sass:math";
@use "sass:list";
@use "sass:map";

// Backgrounds
// map dark-light
$backgrounds: (
	#10101a: $white,
	#0e0e17: $light,
	#0c0c14: $light,
	$dark: $light,
);

@function icon($name) {
	@return string.quote(map.get($fa-icons, $name));
}

@mixin theme($dark: true, $light: false) {
	@content ($dark);

	@media (prefers-color-scheme: light) {
		@content ($light);
	}
}

@mixin background($n) {
	$colors: list.nth($backgrounds, $n);

	@include theme(1, 2) using ($n) {
		background: list.nth($colors, $n);
	}
}

%background {
	@include theme using ($is-dark) {
		background: if($is-dark, $dark, $white);
		color: if($is-dark, $white, $dark);
	}
}

%color {
	@include theme($white, $dark) using ($color) {
		color: $color;
	}
}

html,
body {
	scroll-behavior: smooth;
	font-weight: 300;
	font-size: 15px;

	@include theme(color.change($white, $alpha: 0.8), #555) using ($color) {
		color: $color;
	}

	overflow-x: hidden;
}

img {
	user-select: none;
}

.img {
	position: relative;
	aspect-ratio: 1;
}

* {
	outline: none !important;
}

a {
	color: $primary;

	&:hover {
		color: color.adjust($primary, $lightness: -8%);
		text-decoration: none;
	}
}

mark {
	background: linear-gradient($primary, $primary) no-repeat 0 bottom/100% 3px transparent;
	color: currentColor;
	padding: 0;
}

strong {
	@include theme(500, 600) using ($weight) {
		font-weight: $weight;
	}
}

hr {
	border-top-color: currentColor;
}

.btn {
	position: relative;
	display: inline-block;
	border: 1px solid transparent;
	font-size: 14px;
	letter-spacing: 2px;
	text-decoration: none !important;
	transition: ease all 0.35s;

	background: $primary;
	color: $white;

	@include theme using ($is-dark) {
		box-shadow: 4px 4px if($is-dark, $white, $dark);

		&:hover {
			background: if($is-dark, $white, $dark);
			color: if($is-dark, $primary, $white);
			box-shadow: 4px 4px $primary;
		}
	}
}

header .button-group {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 500;
	gap: 16px;

	button {
		border: 0;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 25px;
		z-index: 1060;
		cursor: pointer;
		background: #fff;
		color: #0b0b13;
		border-radius: 100%;
	}
}

main {
	min-height: 100vh;
	margin-left: 250px;
	@include background(1);

	@include media-breakpoint-down(lg) {
		margin: 0;
	}
}

aside {
	width: 250px;
	position: fixed;
	bottom: 0;
	top: 0;

	@include background(3);

	.top {
		text-align: center;
		position: relative;
		padding: 65px 25px 25px;

		&:after {
			content: "";
			position: absolute;
			top: -180px;
			left: -50px;
			right: 0;
			bottom: 0;
			z-index: -1;
			border-radius: 0 0 50% 50%;
			width: 310px;
			height: 310px;
			background: $primary;
		}

		// Container for profile image
		> div {
			width: 100px;
			height: 100px;
			overflow: hidden;
			display: inline-block;
			vertical-align: top;
			border: 5px solid $white;
			border-radius: 50%;
		}

		> h2 {
			@extend %color;
			margin: 15px 0 0;
			font-weight: 300;
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: 7px;
		}
	}

	ul.nav {
		padding-top: 45px;
		padding-bottom: 45px;

		li {
			width: 100%;

			+ li {
				@include theme($white, $dark) using ($color) {
					border-top: 1px solid color.change($color, $alpha: 0.03);
				}
			}

			> a {
				margin: 0;
				padding: 15px 30px;
				text-decoration: none;
				transition: ease all 0.35s;
				font-size: 12px;
				letter-spacing: 3px;
				text-transform: uppercase;
				line-height: 18px;
				display: inline-block;

				color: $primary;
				font-weight: 600;

				&:not(.active) {
					@include theme using ($is-dark) {
						@if $is-dark {
							color: color.change($white, $alpha: 0.8);
							font-weight: 300;
						} @else {
							color: color.change($dark, $alpha: 0.7);
							font-weight: 400;
						}
					}
				}

				i {
					font-size: 18px;
					font-weight: 300;
					display: inline-block;
					vertical-align: middle;
				}

				span {
					display: inline-block;
					vertical-align: middle;
					margin-left: 10px;
				}

				&:hover {
					@include theme($white, $primary) using ($color) {
						color: $color;
					}
				}

				@include media-breakpoint-only(xl) {
					padding: 12px 30px;
				}
			}
		}
	}

	.social-icons {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 12px 0;

		a {
			@extend %color;
			font-size: 14px;
			margin-right: 17px;

			&:hover {
				color: $primary;
			}
		}
	}

	transition: ease left 0.35s;

	@include media-breakpoint-down(lg) {
		z-index: $zindex-modal;
		left: calc(var(--sidebar-offset) * 1px - 250px);
	}
}

.tooltip {
	font-size: 12px;
}

nav {
	padding: 15px;
	z-index: $zindex-fixed;
	position: fixed;
	top: 0;
	width: 100%;

	@include background(1);

	> .d-flex {
		align-items: center;
	}

	.navbar-brand {
		padding: 0;
	}

	.logo-text {
		@extend %color;
		font-weight: 600;
		font-size: 25px;
		line-height: 1;
		text-decoration: none;
	}
}

.toggler-menu {
	border: none;
	width: 40px;
	height: 40px;
	position: relative;
	margin-left: 15px;
	background: $primary;
	margin-left: auto;

	&::after {
		content: "";

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 25px;
		height: 2px;
		margin: auto;
		box-shadow:
			0px -8px 0 0px $white,
			0px 8px 0 0px $white;
		background: $white;
	}
}

.blog-grid {
	margin: 2px;

	.blog-img {
		overflow: hidden;

		img {
			transition: ease all 0.35s;
			transform: scale(1);
			height: fit-content;
			width: fit-content;
		}
	}

	.blog-info {
		padding: 25px;
		margin: -80px 0 0 50px;
		position: relative;

		@include background(4);

		@include media-breakpoint-down(lg) {
			margin-left: 40px;
		}

		@include media-breakpoint-down(md) {
			margin-left: 25px;
		}

		.meta {
			font-size: 12px;
		}

		h4 {
			font-size: 24px;
			font-weight: 500;
			padding-top: 10px;

			@include media-breakpoint-down(md) {
				font-size: 20px;
			}
		}

		a {
			background-position: 0% 100%;
			background-repeat: no-repeat;
			background-size: 0% 0.1px;
			transition: ease all 0.35s;
			text-decoration: none;

			@include theme using ($is-dark) {
				@if $is-dark {
					color: $white;
					background-image: linear-gradient(130deg, $white, $white);
				} @else {
					color: $dark;
					background-image: linear-gradient(130deg, $dark, $dark);
				}
			}

			&:hover {
				background-size: 100% 2px;
			}
		}
	}

	&:hover {
		.blog-info {
			a {
				background-size: 100% 2px;
			}
		}

		.blog-img {
			img {
				filter: grayscale(1);
				transform: scale(1.1);
			}
		}
	}
}

.read-more-blog {
	padding-top: 30px;
}

.blog-pagination {
	padding-top: 30px;
}

.pagination .page-link {
	border: none;
	box-shadow: none;
	margin: 0 0.625rem;
	width: 3rem;
	height: 3rem;
	text-align: center;
	line-height: 3rem;
	border-radius: 50%;
	font-size: large;
	transition: background 0.35s;

	@include theme using ($is-dark) {
		@if $is-dark {
			background: color.change($white, $alpha: 0.1);
			color: $white;
		} @else {
			background: color.change($dark, $alpha: 0.2);
			color: $dark;
			font-weight: 500;
		}
	}

	&.disabled {
		opacity: 0.5;
	}

	&.active,
	&:not(.disabled):hover {
		background: $primary !important;
		border-color: $primary !important;
		color: $white !important;
	}
}

.tag-cloud a {
	padding: 4px 15px;
	font-size: 13px;
	border-radius: 3px;
	margin-right: 4px;
	margin-bottom: 4px;
	font-weight: 400;

	@extend %background;

	&:hover {
		background: $primary;
		color: $white;
	}
}

.blog-listing {
	padding-top: 70px;
	padding-bottom: 120px;
	min-height: 100%;

	@include background(1);

	@include media-breakpoint-down(lg) {
		padding-bottom: 80px;
	}

	@include media-breakpoint-down(md) {
		padding-bottom: 50px;
	}
}

.single-blog {
	padding-top: 70px;
	padding-bottom: 100px;
	min-height: 100%;

	.blog-feature-img {
		img {
			width: 100%;
			height: fit-content;
		}
	}

	@include background(1);

	@include media-breakpoint-down(lg) {
		padding-top: 100px;
		padding-bottom: 40px;
	}
}

article {
	margin: 15px 0 30px;

	.article-title {
		padding: 15px 0 20px;

		h4 {
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 20px;

			a {
				text-transform: uppercase;
				color: $primary;
				border-bottom: 1px solid $primary;
			}
		}

		h2 {
			@extend %color;
			font-weight: 600;

			@include media-breakpoint-up(md) {
				font-size: 28px;
			}
		}

		.article-meta {
			padding-top: 15px;
			padding-bottom: 20px;
			display: flex;

			@include theme($white, $dark) using ($color) {
				border-bottom: 1px dashed color.change($color, $alpha: 0.1);
			}

			.avatar {
				width: 45px;
				height: 45px;
				overflow: hidden;
			}

			label {
				font-weight: 600;
				color: $primary;
			}

			span {
				display: block;
				font-size: 12px;
			}
		}
	}

	.article-content {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@extend %color;
			font-weight: 500;
			margin-bottom: 15px;
			margin-top: 30px;
		}

		blockquote {
			max-width: 600px;
			padding: 15px 0 30px 0;
			margin: 0;

			p {
				font-size: 20px;
				font-weight: 500;
				color: $primary;
				margin: 0;
			}

			.blockquote-footer {
				font-size: 16px;

				@include theme($white, $dark) using ($color) {
					color: $color;
				}

				cite {
					font-weight: 600;
				}
			}
		}
	}

	.tag-cloud {
		padding-top: 10px;
	}
}

.article-comment {
	border-radius: 5px;
	overflow: hidden;
	background: $dark;
	padding: 30px;

	@include background(4);

	h4 {
		font-weight: 700;
		font-size: 22px;
		@extend %color, .mb-4;
	}
}

section:not(:first-of-type) {
	padding: $spacer 0;
}

.title {
	padding: 40px 0;

	@include media-breakpoint-down(md) {
		padding: 30px 0;
	}

	h1,
	h2,
	h3 {
		@extend %color;
		margin: 0;
		position: relative;
		z-index: 1;
		font-weight: 300;
		font-size: 30px;
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		letter-spacing: 6px;

		@include media-breakpoint-down(md) {
			letter-spacing: 2px;
		}

		&::after {
			content: "";
			width: 6px;
			height: 6px;
			position: absolute;
			bottom: -7px;
			left: 56px;
			right: 0;
			z-index: -1;
			background-color: $primary;
			border-radius: 50%;
		}

		&::before {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			right: 0;
			width: 60px;
			height: 1px;
			background-color: $primary;
		}
	}
}

.separated {
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		height: 1px;
		opacity: 0.1;

		@include theme($white, $dark) using ($color) {
			background: $color;
		}
	}

	@include media-breakpoint-down(md) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.home-banner {
	overflow: hidden;
	position: relative;
	z-index: 1;

	&:after {
		content: "";
		border-radius: 50%;

		position: absolute;
		right: -20vh;
		top: -20vh;
		width: 100vh;
		height: 100vh;
		z-index: -1;

		@include background(4);
	}

	.container {
		position: relative;
		z-index: 1;
	}

	.full-screen {
		min-height: 100vh;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@include media-breakpoint-up(lg) {
		img {
			max-width: 120%;
		}
	}

	.type-box {
		padding-top: 40px;
		padding-bottom: 40px;

		> span:first-child {
			@extend %color;
			font-size: 25px;
			font-weight: 500;
			margin: 0 0 20px;

			@include media-breakpoint-down(md) {
				font-size: 18px;
				margin: 0 0 10px;
			}
		}

		h1 {
			font-size: 65px;
			font-weight: 700;
			line-height: 1;
			margin: 0 0 20px;
			@extend %color;

			@include media-breakpoint-down(xl) {
				font-size: 70px;
			}

			@include media-breakpoint-down(md) {
				font-size: 45px;
				margin-bottom: 15px;
			}
		}

		.lead {
			font-weight: 500;
			font-size: 18px;
			@extend %color, .mb-4;

			@include media-breakpoint-down(md) {
				font-size: 16px;
				margin-bottom: 15px;
			}
		}

		.desc {
			max-width: 450px;
			font-size: 18px;

			@include media-breakpoint-down(md) {
				font-size: 16px;
			}
		}

		.btn-bar {
			padding-top: 15px;
		}
	}
}

.about-me {
	@include media-breakpoint-down(lg) {
		margin-bottom: 40px;
	}

	.social-icons {
		position: absolute;
		bottom: -15px;
		left: 0;
		right: 0;

		a {
			@extend %background, .rounded-circle;

			width: 35px;
			height: 35px;
			line-height: 31px;
			border: 2px solid $white;
			text-align: center;
			position: relative;
			margin: 0 5px;
			transition: ease all 0.35s;
			transform: scale(1);

			i {
				line-height: inherit;
			}

			&:nth-child(1) {
				top: -25px;
			}

			&:nth-child(2) {
				top: -8px;
			}

			&:nth-child(4) {
				top: -8px;
			}

			&:nth-child(5) {
				top: -25px;
			}

			&:hover {
				transform: scale(1.1);
				background: $primary;
				color: $white;
			}
		}
	}

	pre code {
		font-size: 0.85em !important;
		overflow: hidden !important;
		border-radius: 0.3em;
		tab-size: 4;

		@include media-breakpoint-down(md) {
			tab-size: 2;
		}

		@include media-breakpoint-down(md) {
			font-size: 0.75em !important;
		}

		background-image: url("window.svg");
		background-position: right top;
		background-repeat: no-repeat;

		&::before {
			content: "";
			display: block;
			height: 1px;
			background: #fff3;
			margin: 2em -1em 0.75em -1em;
		}
	}
}

.about-info {
	@include media-breakpoint-up(lg) {
		padding-left: 50px;
	}

	.title {
		padding-top: 0;
	}

	h3 {
		@extend %color, .mb-4;
	}

	.media {
		padding-top: 10px;

		span {
			font-size: 50px;
			line-height: 1;
			@extend %color;
			font-weight: 600;
			min-width: 55px;
		}

		.media-body {
			padding-left: 10px;
			line-height: 1.3;
		}

		.after-k {
			&:after {
				content: "k";
				font-size: 65%;
				margin-left: 2px;
			}
		}
	}

	.btn-bar {
		padding-top: 35px;

		.button {
			min-width: 150px;
			text-align: center;

			+ .button {
				margin-left: 22px;
			}
		}
	}
}

.feature-box {
	height: 100%;
	padding: 40px;
	overflow: hidden;
	z-index: 1;
	transition: ease background 0.35s;
	display: flex;

	@include theme using ($is-dark) {
		@if $is-dark {
			background: $dark;
			color: $white;
		} @else {
			background: $light;
			color: $dark;
		}
	}

	@include media-breakpoint-down(lg) {
		padding: 20px;
	}

	.icon {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 40px;
		text-align: center;
	}

	.feature-content {
		padding-left: 25px;
		flex-grow: 1;

		@include media-breakpoint-down(lg) {
			padding-left: 15px;
		}
	}

	h4 {
		margin-bottom: 15px;
	}

	p {
		margin: 0;
	}

	&:hover {
		background-color: $primary;
	}
}

.document {
	aspect-ratio: math.sqrt(2);
	@include background(2);
}

.testimonial {
	padding: 35px;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 25px;

	@include background(4);

	.avatar {
		width: 100px;
		height: 100px;
		overflow: hidden;

		@include media-breakpoint-down(md) {
			width: 50px;
			height: 50px;
		}
	}

	.media-body {
		padding-left: 25px;

		@include media-breakpoint-down(md) {
			padding-left: 15px;
		}
	}

	h4 {
		margin: 0 0 5px;
		@extend %color;
	}

	span {
		font-size: 13px;
	}
}

.resume-box {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-top: 15px;

	@include background(4);

	> div {
		padding: 35px;

		@include media-breakpoint-down(lg) {
			padding: 20px;
		}

		+ div {
			@include theme($white, $dark) using ($color) {
				border-top: 1px solid color.change($color, $alpha: 0.05);
			}
		}
	}

	h4 {
		@extend %color;
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 5px;
	}

	&-left {
		min-height: 100%;
		text-align: center;

		@include media-breakpoint-up(sm) {
			@include theme($white, $dark) using ($color) {
				border-right: 1px solid color.change($color, $alpha: 0.05);
			}
		}

		@include media-breakpoint-down(md) {
			margin-bottom: 25px;
			text-align: left;

			img,
			svg {
				width: 100px;
				height: 100px;
			}
		}
	}

	&-time {
		display: inline-block;
		padding: 5px 10px;
		color: $white;
		background: $primary;
		font-size: 10px;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 2px;
		position: absolute;
		top: 0;
		right: 0;

		@include media-breakpoint-down(md) {
			position: relative;
			margin-bottom: 14px;
			vertical-align: top;
		}
	}

	&-label {
		font-size: 13px;
		margin-bottom: 12px;
		display: inline-block;

		@include media-breakpoint-down(md) {
			width: 100%;
			margin-bottom: 6px;
		}
	}

	&-right {
		position: relative;

		p {
			margin-bottom: 0;
			max-width: 80%;

			@include media-breakpoint-down(md) {
				max-width: 100%;
			}
		}
	}
}

.skills-box {
	h3 {
		@extend %color;
		margin: 0 0 15px;
	}

	p {
		padding-bottom: 10px;
	}
}

.skill-lt {
	position: relative;

	span {
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background: $primary;
		position: absolute;
		right: -1px;
		top: -5px;
	}

	&:not(:first-child) {
		margin-top: 25px;
	}

	h4 {
		font-size: 14px;
		margin: 0 0 10px;
		font-weight: 400;
		@extend %color;
	}

	.skill-bar {
		position: relative;

		@include theme using ($is-dark) {
			@if $is-dark {
				background: color.change($light, $alpha: 0.1);
			} @else {
				background: color.change($dark, $alpha: 0.2);
			}
		}

		.skill-bar-in {
			width: 80px;
			position: relative;
			transition: ease all 0.55s;
			height: 5px;
			background: $primary;
		}
	}
}

.education-box {
	margin: 0;
	padding: 0;
	list-style: none;

	@include background(4);

	@include media-breakpoint-down(lg) {
		margin-bottom: 10px;
	}

	p {
		margin: 0;
	}

	h6 {
		@extend %color;
		margin: 5px 0;
	}

	span {
		background: $primary;
		color: $white;
		font-size: 11px;
		padding: 1px 8px;
		display: inline-block;
		vertical-align: top;
		letter-spacing: 1px;
		margin-left: -24px;
		position: relative;
		margin-bottom: 9px;

		&:after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			border-top: 5px solid color.adjust($primary, $lightness: -25%);
			border-left: 5px solid transparent;
		}
	}

	li {
		padding: 20px 20px;

		+ li {
			@include theme($white, $dark) using ($color) {
				border-top: 1px solid color.change($color, $alpha: 0.05);
			}
		}
	}
}

.contact-info {
	padding: 30px;
	height: 100%;

	@include background(4);

	@include media-breakpoint-down(lg) {
		margin-bottom: 20px;
	}

	h4 {
		@extend %color;
		font-size: 28px;
		font-weight: 500;
		margin-bottom: 20px;
	}

	p {
		font-size: 16px;
	}

	ul {
		margin: 0;
		padding: 10px 0 0;
		list-style: none;
	}

	li {
		@extend %color, .mb-1;

		gap: 10px;
		display: flex;
		font-size: 18px;
		font-weight: 500;
		align-items: center;

		position: relative;
		padding-bottom: 15px;

		i {
			width: 30px;
			text-align: center;
			color: $primary;
			font-size: 22px;
		}
	}
}

p.note {
	font-size: 0.75em;
	margin-top: 3em;
}

.contact-form {
	padding: 30px;

	@include background(4);

	@include media-breakpoint-down(lg) {
		margin-bottom: 20px;
	}

	.form-control {
		border-radius: 0;
		box-shadow: none;
		font-size: 14px;
		height: calc(2em + 0.75rem + 2px);

		@include theme($white, $dark) using ($color) {
			color: $color;
			border: 1px solid color.change($color, $alpha: 0.3);
			background: if($color == $white, $black, $white);
		}
	}

	textarea.form-control {
		height: auto;
	}
}

#contact h4 {
	@extend %color;
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 20px;
}

.swiper-dots {
	text-align: center;
	margin-top: 1em;

	.swiper-pagination-bullet {
		display: inline-block;
		vertical-align: top;
		width: 10px;
		height: 10px;
		background: transparent;
		transition: ease all 0.55s;
		margin: 0 5px;
		opacity: 0.2;
		border-radius: 100%;

		@include theme($white, $dark) using ($color) {
			border: 1px solid $color;

			&-active {
				background: $color;
			}
		}

		&-active {
			opacity: 1;
		}
	}
}
